
.idea
*.iml
out
inmanage-java-client/target/
inmanage-java-client/.idea
inmanage-java-server/target/
inmanage-java-server/.idea
out/

inmanage-java-server/docs/VPN/\.Cisco AnyConnect MacInstall\.dmg\.icloud
